<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="liang.zhou.lane8.no5.my_player">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="REQUEST_INSTALL_PACKAGES"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".MyApplication"
        android:usesCleartextTraffic="true"
        >


        <activity android:name="com.jeanboy.cropview.cropper.CropActivity" />
        <activity android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustPan">

        </activity>
        <activity android:name=".ActivityRegister"/>
        <activity android:name=".ActivityPostDetails"/>
        <activity android:name=".ActivityHomePage" android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityInfo"
            android:launchMode="singleTask"
            android:theme="@style/launchActivityTheme"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">

        </activity>
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:noHistory="true"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent101580796" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".ActivityAlterNickname"/>
        <activity
            android:name=".ActivityAddress"
            android:launchMode="singleTask">

        </activity>
        <activity android:name=".AlwaysAppearance" android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity android:name=".ActivityMailBinding" android:launchMode="singleTask"/>
        <activity android:name=".ActivityRealNameAuth" android:launchMode="singleTask"/>
        <activity android:name=".ActivityAlterPassword" android:launchMode="singleTask"/>
        <activity android:name=".ActivityLogin"/>
        <activity android:name=".ActivityShowDialog"/>
    </application>

</manifest>